<div>
	<div class="wrap1">
		<div class="moddle">
			<img src="http://p3.ssl.qhmsg.com/t01552ae9393d8f7cf3.jpg"/>
			<img src="http://p.ssl.qhmsg.com/t01c85b156ed264fe68.png"/>
			<img src="http://p.ssl.qhmsg.com/t0178a394ef65e6ae51.jpg"/>
		</div>
		<div class="module">
			<ul>
				
				<li><a href="">修手机/IP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></a></li>
				<li><a href="">修电脑&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></a></li>
				<li><a href="">卖手机/电脑&nbsp;&nbsp;></a></li>
				<li><a href="">买二手机&nbsp;&nbsp;&nbsp;&nbsp;></a></li>
				
			</ul>
		</div>
		
	</div>
	<section class="s3">
		 <img src="img/serve (1).jpg"/>
		 <img src="img/serve (2).jpg"/>
		 <img src="img/serve (3).jpg"/>
		 <img src="img/serve (4).jpg"/>
	</section>
	
	<section class="s4">
		<div class="div3"><h2>优品精选</h2><span><a href="###">查看更多</a></span></div>
		<img class="img1" src="img/phone.jpg"/>
		<div class="kuang">
			    
			    	<dl>
						<dt><img style="width: 60%;" src="https://p.ssl.qhimg.com/t01ddf19cbaa3a791b7.jpg"/></dt>
						<dd>苹果6</dd>
				    </dl>
				
				<dl>
					<dt><img style="width: 60%;" src="https://p.ssl.qhimg.com/t01ddf19cbaa3a791b7.jpg"/></dt>
					<dd>苹果6</dd>
				</dl>
				<dl>
					<dt><img style="width: 60%;" src="https://p.ssl.qhimg.com/t01ddf19cbaa3a791b7.jpg"/></dt>
					<dd>苹果6</dd>
				</dl>
				<dl>
					<dt><img style="width: 60%;" src="https://p.ssl.qhimg.com/t01ddf19cbaa3a791b7.jpg"/></dt>
					<dd>苹果6</dd>
				</dl>
				<dl>
					<dt><img style="width: 60%;" src="https://p.ssl.qhimg.com/t01ddf19cbaa3a791b7.jpg"/></dt>
					<dd>苹果6</dd>
				</dl>
				
		</div>
		
		
	</section>
	<section class="s4">
		<div class="div3"><h2>优品精选</h2><span><a href="###">查看更多</a></span></div>
		<img class="img1" src="img/phone.jpg"/>
		<div class="kuang">
			    <dl>
					<dt><img src="http://p0.qhmsg.com/t018613e54836792dc7.jpg"/></dt>
					<dd>华为 荣耀4X</dd>
					<dd><p>￥339</p></dd>
				</dl>
				<dl>
					<dt><img src="http://p0.qhmsg.com/t018613e54836792dc7.jpg"/></dt>
					<dd>华为 荣耀4X</dd>
					<dd><p>￥339</p></dd>
				</dl>
				<dl>
					<dt><img src="http://p0.qhmsg.com/t018613e54836792dc7.jpg"/></dt>
					<dd>华为 荣耀4X</dd>
					<dd><p>￥339</p></dd>
				</dl>
				<dl>
					<dt><img src="http://p0.qhmsg.com/t018613e54836792dc7.jpg"/></dt>
					<dd>华为 荣耀4X</dd>
					<dd><p>￥339</p></dd>
				</dl>
				<dl>
					<dt><img src="http://p0.qhmsg.com/t018613e54836792dc7.jpg"/></dt>
					<dd>华为 荣耀4X</dd>
					<dd><p>￥339</p></dd>
				</dl>
				
		</div>
		
		
	</section>
	<section class="s5">
		  <h2>到店维修</h2>
	</section>
	<section class="s6">
		<div class="left">
			<input class="in1" type="text" name="" id="" value="北京"  />
			<input class="in1" type="text" name="" id="" value="请选择地区"  />
			<input class="in1" style="width: 400px;" type="" name="" id="" value=""  placeholder="可以搜索您所在的小区"/>
		    <div class="sou">
		    	<p>搜索</p>
		    </div>
		    <ul class="ul1">
		    	<li style="background: white;">
		    		<a href="">默认排序</a>
		    	</li>
		    	<li>
		    		<a href="">按成交量</a>
		    	</li>
		    	<li>
		    		<a href="">按人气</a>
		    	</li>
		    	<li>
		    		<input type="checkbox" name="" id="" value="" />先行赔付
		    	</li>
		    	<li>
		    		<img src="img/add_03.jpg"/>
		    		<a href="">查看地图</a>
		    	</li>
		    </ul>
		    <div class="kk">
		    	
		   
			    <div class="wrap2" ng-repeat=" a in arr">
			    	<div class="wrap2_left">
			    		<a href=""><img ng-src="{{a.shop_ico}}"/></a>
			    	</div> 
			    	 <div class="wrap2_content">
			    		<p><a href="">{{a.shop_name}}</a>    <span>人气:<a href=""><img src="img/pag3_24.jpg"/></a></span></p>
			    		<p>主营：<span>{{a.main}}</span></p>
			    		<p>地址：<span>{{a.addr_detail}}</span></p>
			    	</div> 
			    	<div class="wrap2_right">
			    		
			    			<p><span class="span2">￥</span>先行赔付</p>
			    			<p><span class="span2">&nbsp;v&nbsp;</span>同城帮认证</p>
			    			<p>人气：<span>{{a.shop_visit}}</span></p>
			    		
			    			<span class="span1">进入店铺</span>
			    		
			    	</div> 
			    </div>
		       
		     </div>
		     <ul class="uls5">
		       	<li>
		       		<a href="">1</a>
		       	</li>
		       	<li>
		       		<a href="">2</a>
		       	</li>
		       	<li>
		       		<a href="">3</a>
		       	</li>
		       	<li>
		       		<a href="">4</a>
		       	</li>
		       	<li>
		       		<a href="">5</a>
		       	</li>
		       	<li>
		       		<a href="">6</a>
		       	</li>
		      </ul>
		</div>
		<div class="right">
			<h2>商家好评</h2>
			<ul ng-repeat="a in arr">
				<li>
					<img ng-src="{{a.shop_ico}}"/>
					<div class="zi">
						<p><a href="">{{a.shop_name}}</a></p>
						<p>{{a.shop_visit}}<span>条评论</span></p>
					</div>
				</li>
			</ul>
		</div>
	</section>
</div>
